* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 23%);
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 97%);
}

h1,
h2,
h3 {
  margin: 0 0 1em;
}
